body {
	font-family: 'Muli', 'Helvetica Neue', 'Helvetica', sans-serif;
}

/* Site-wide styles */

.container {
	max-width: 970px;
}
a {
	color: #00a7cf;
}
a:hover,
a:focus {
	color: #36c1dc;
}
.btn {
	border-radius: px;
	padding: 8px 12px;
	transition: .3s;
	font-size: 18px;
	color: #fff;
	border: none;
	transition: .3s;
}
.btn-success {
	background: #84ba10;
}
.btn-success:hover,
.btn-success:focus {
	background: #9ec943;
}
.btn-primary {
	background: #84ba10;
}
.btn-primary:hover,
.btn-primary:focus {
	background: #9ec943;
}
.btn-warning {
	background: #ffa300;
}
.btn-warning:hover,
.btn-warning:focus {
	background: #ffb647;
	color: #fff;
}
ul.horizontal {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	margin: 0;
}
ul.horizontal li {
	display: inline-block;
}
h2.section-title {
	text-align: center;
	margin-bottom: 60px;
	color: #17406b;
	font-weight: 600;
}
h3.section-subtitle {
	text-align: center;
	color: #17406b;
	font-weight: 200;
	font-size: 1em;
	margin: -30px 0 60px;
}

/* Navbar */

.navbar {
	display: none;
}
.navbar .navbar-collapse {
	text-align: center;
}
.navbar .navbar-collapse .nav-link.btn {
	color: #fff;
}
.navbar .navbar-brand {
	padding: 0;
}
.navbar .navbar-brand svg {
	height: 40px;
	width: auto;
}

/* Home hero section */

.container-fluid.hero {
	padding: 30px 0;
}
.container-fluid.hero.home {
	background: url('../images/hero-image.png');
	background-size: cover;
	background-position: center;
}
.container-fluid.hero.portfolio {
	background: url('../images/hero-portfolio.jpg');
	background-size: cover;
	background-position: center;
}
.container-fluid.hero .desktop-menu {
	text-align: right;
}
.container-fluid.hero .desktop-menu ul li {
	margin-left: 12px;
}
.container-fluid.hero .desktop-menu ul li a {
	color: #fff;
	font-size: 14px;
	line-height: 1.4em;
	transition: .3s;
}
.container-fluid.hero .desktop-menu ul li a:hover,
.container-fluid.hero .desktop-menu ul li a:focus {
	color: #fffdfd;
}
.container-fluid.hero .desktop-menu ul li a.btn.btn-primary {
	padding: 4px 12px;
}
.container-fluid.hero .desktop-menu ul li a.btn.btn-primary:hover,
.container-fluid.hero .desktop-menu ul li a.btn.btn-primary:focus {}
.container-fluid.hero .headlines {
	text-align: center;
	padding: 100px 0 120px;
}
.container-fluid.hero.page .headlines {
	padding: 60px 0 10px;
}
.container-fluid.hero .headlines h2 {
	font-size: 44px;
	line-height: 1.2em;
	color: #fffdfd;
}
.container-fluid.hero .headlines h1 {
	font-size: 18px;
	line-height: 1.4em;
	color: #fff;
	margin: 25px 0 40px;
}
.container-fluid.hero .headlines .btn {
	padding: 8px 24px;
}

/* Media features */

.container-fluid.features {
	background: url('../images/intro-bg.jpg');
	background-size: cover;
	padding: 30px 0;
}
.container-fluid.features .container {
	text-align: center;
}
.container-fluid.features .container p {
	font-size: 20px;
	line-height: 1.2em;
	color: #17406b;
	padding: 30px 0 20px;
}
.container-fluid.features .container ul li {
	padding: 20px;
}
.container-fluid.features .container ul li.inc img {
	height: 35px;
}
.container-fluid.features .container ul li.cnbc img {
	height: 52px;
}
.container-fluid.features .container ul li.straitstimes img {
	height: 36px;
}
.container-fluid.features .container ul li.chinanews img {
	height: 72px;
}

/* Quote */

.container-fluid.quote {
	background-color: #00a7cf;
	background: url('../images/outro-bg.png');
	background-size: cover;
	padding: 96px 0;
	text-align: center;
}
.container-fluid.quote .container .text {
	font-size: 48px;
	font-weight: 200;
	color: #fff;
}
.container-fluid.quote .container .text span {
	letter-spacing: -3px;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1em;
}
.container-fluid.quote .container .author {
	font-size: 24px;
	color: #fff;
	font-weight: 600;
}
.container-fluid.quote.second .container .text {
	font-size: 28px;
}
.container-fluid.quote.second .container .author {
	font-size: 20px;
}

/* Transparency section */

.container-fluid.transparency {
	padding: 80px 0 0;
	background: #00a7cf;
}
.container-fluid.transparency .text {
	margin-top: -120px;
	margin-bottom: -15px;
}
.container-fluid.transparency .text h3 {
	font-weight: 600;
	color: #fff;
}
.container-fluid.transparency .text p {
	margin-bottom: 0;
	color: #E4F1FE;
}
.container-fluid.transparency .image {}
.container-fluid.transparency .image img {
	margin-top: -120px;
	margin-bottom: -15px;
}

/* Technicalities */

.container-fluid.technicalities {
	padding: 80px 0;
}
.container-fluid.technicalities .text {}
.container-fluid.technicalities .text h3 {
	font-weight: bold;
	font-size: 24px;
	color: #17406b;
}
.container-fluid.technicalities .text p {
	line-height: 1.5em;
	color: #5a5a5a;
}
.container-fluid.technicalities .image {
	text-align: center;
	padding: 40px 0;
}
.container-fluid.technicalities .image img {
	max-height: 240px;
	margin: 0 auto;
}

/* Journey */

.container-fluid.journey {
	padding: 80px 0 100px;
	background: #fff;
	background: url('../images/intro-bg.jpg');
	background-size: cover;
}
.container-fluid.journey .container .step {
	text-align: center;
}
.container-fluid.journey .container .step svg {
	max-height: 90px;
	padding-bottom: 10px;
}
.container-fluid.journey .container .step svg path {
	fill: #00a7cf;
}
.container-fluid.journey .container .step h4 {
	color: #17406b;
	font-size: 20px;
	font-weight: 600;
}
.container-fluid.journey .container .step p {
	font-size: 16px;
	color: #5a5a5a;
	padding: 0 40px;
}

/* Comparison */

.container-fluid.comparison {
	padding: 80px 0;
}
.container-fluid.comparison .container {
	text-align: center;
}
.container-fluid.comparison .container .gap-fill p {
	font-size: 24px;
	line-height: 48px;
	color: #17406b;
}
.container-fluid.comparison .container .gap-fill p span {
	color: #00a7cf;
	font-weight: 600;
}
.container-fluid.comparison .container .gap-fill input {
	width: auto;
	border: none;
	border-bottom: 2px solid #e5e5e5;
	padding: 0 6px;
	color: #00A7CF;
	line-height: 32px;
	transition: .3s;
}
.container-fluid.comparison .container .gap-fill input:focus {
	outline: none;
	border-bottom: 2px solid #00A7CF;
	transition: .3s;
}
.container-fluid.comparison .container .gap-fill input.money {
	width: 160px;
}
.container-fluid.comparison .container .gap-fill input.years {
	width: 64px;
	text-align: center;
}
.container-fluid.comparison .container .gap-fill select {
	position: relative;
	border: none;
	background: none;
	border-radius: 0;
	border-bottom: 2px solid #e5e5e5;
	-webkit-appearance: none;
	color: #00A7CF;
	line-height: 32px;
	padding: 0 6px;
	background: url('../images/SmartlyDownArrow.svg');
	background-size: 30px;
	background-position: right 4px;
	background-repeat: no-repeat;
	width: 160px;
}
.container-fluid.comparison .container .comparison-split {
	display: table;
	width: 100%;
	max-width: 720px;
	margin: 40px auto 60px;
}
.container-fluid.comparison .container .comparison-split .industry {
	display: table-cell;
	width: 40%;
}
.container-fluid.comparison .container .comparison-split .industry .top {
	background: #ffa400;
	color: #fff;
	padding: 15px 20px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-size: 16px;
	line-height: 32px;
}
.container-fluid.comparison .container .comparison-split .industry .top span {
	display: block;
}
.container-fluid.comparison .container .comparison-split .industry .top span.fee {
	font-size: 32px;
	line-height: 48px;
	font-weight: bold;
}
.container-fluid.comparison .container .comparison-split .industry .bottom {
	color: #ffa400;
	border: 2px solid #ffa400;
	border-top: none;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	padding: 15px 20px;
	font-size: 16px;
	line-height: 32px;
}
.container-fluid.comparison .container .comparison-split .industry .bottom span {
	display: block;
}
.container-fluid.comparison .container .comparison-split .industry .bottom span.result {
	font-size: 32px;
	line-height: 48px;
	font-weight: bold;
}
.container-fluid.comparison .container .versus {
	display: table-cell;
	vertical-align: middle;
	color: #17406b;
	font-size: 32px
}
.container-fluid.comparison .container .comparison-split .smartly {
	display: table-cell;
	width: 40%;
}
.container-fluid.comparison .container .comparison-split .smartly .top {
	background: #84ba10;
	color: #fff;
	padding: 15px 20px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	font-size: 16px;
	line-height: 32px;
}
.container-fluid.comparison .container .comparison-split .smartly .top span {
	display: block;
}
.container-fluid.comparison .container .comparison-split .smartly .top span.fee {
	font-size: 32px;
	line-height: 48px;
	font-weight: bold;
}
.container-fluid.comparison .container .comparison-split .smartly .bottom {
	color: #84ba10;
	border: 2px solid #84ba10;
	border-top: none;
	padding: 15px 20px;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	font-size: 16px;
	line-height: 32px;
}
.container-fluid.comparison .container .comparison-split .smartly .bottom span {
	display: block;
}
.container-fluid.comparison .container .comparison-split .smartly .bottom span.result {
	font-size: 32px;
	line-height: 48px;
	font-weight: bold;
}
.container-fluid.comparison .container .feature {
	text-align: center;
	margin-bottom: 60px;
}
.container-fluid.comparison .container .feature .icon {
	padding: 10px 0 5px;
}
.container-fluid.comparison .container .feature .icon svg {
	height: 64px;
	width: auto;
	margin: auto;
}
.container-fluid.comparison .container .feature h4 {
	font-size: 16px;
	color: #17406b;
}
.container-fluid.comparison .container .fees {
	text-align: center;
}
.container-fluid.comparison .container .fees .industry {
	padding: 15px;
	border-right: 1px solid #a5a5a5;
}
.container-fluid.comparison .container .fees h4 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 20px;
}
.container-fluid.comparison .container .fees .industry h4 {
	color: #ffa400;
}
.container-fluid.comparison .container .fees .smartly {
	padding: 15px;
}
.container-fluid.comparison .container .fees .smartly h4 {
	color: #00a7cf;
}
.container-fluid.comparison .container .fees h5.percent {
	font-size: 32px;
	color: #17406b;
	margin-bottom: 0;
	position: relative;
}
.container-fluid.comparison .container .fees h5.percent sup {
	position: absolute;
	font-size: 0.5em;
	top: 0.25em;
	font-weight: 600;
}
.container-fluid.comparison .container .fees p.additional {
	margin-top: 1.5em;
	color: #17406b;
	font-weight: 600;
}
.container-fluid.comparison .container .fees p.per {
	font-size: 12px;
	color: #5a5a5a;
}
.container-fluid.comparison .container .fees p.description {
	color: #17406b;
}

/* Security */

.container-fluid.security {
	background-color: #00a7cf;
	padding: 80px 0;
}
.container-fluid.security .container {
	max-width: 720px;
}
.container-fluid.security h2.section-title {
	color: #fff;
	margin-bottom: 20px;
}
.container-fluid.security .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: #fff;
}
.container-fluid.security .text p {
	margin-bottom: 0;
	line-height: 1.5em;
	color: #E4F1FE;
}
.container-fluid.security .image {
	text-align: center;
	padding: 0 20px;
}
.container-fluid.security .image img {
	max-height: 240px;
}

/* Content pages */

.container-fluid.portfolio {
	padding: 60px 0;
}
.container-fluid.portfolio.why {
	margin-bottom: 60px;
}
.container-fluid.portfolio .container.text-image {
	max-width: 720px;
}
.container-fluid.portfolio .container.text-image h3 {
	color: #17406b;
	font-size: 20px;
	font-weight: 600;
}
.container-fluid.portfolio .container.text-image p {
	font-size: 16px;
	color: #5a5a5a;
}
.container-fluid.portfolio .container.text-image .image {
	max-height: 240px;
	text-align: center;
}
.container-fluid.portfolio .container.text-image .image svg {
	max-height: 240px;
	padding: 40px 0;
}
.container-fluid.portfolio.structure {
	text-align: center;
	background-color: #00a7cf;
	background: url('../images/outro-bg.png');
	background-size: cover;
}
.container-fluid.portfolio.structure h2.section-title {
	color: #fff;
}
.container-fluid.portfolio.structure .icon svg {
	height: 64px;
	width: auto;
	margin: auto;
}
.container-fluid.portfolio.structure .icon svg path {
	fill: #fff;
}
.container-fluid.portfolio.structure h4 {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 30px;
}
.container-fluid.portfolio.structure p {
	color: #E4F1FE;
}
.container-fluid.portfolio.how h4 {
	color: #17406b;
	font-size: 20px;
	font-weight: 600;
}
.container-fluid.portfolio.how p {
	font-size: 16px;
	color: #5a5a5a;
}
.container-fluid.portfolio.assets {
	background-color: #00a7cf;
	background: url('../images/outro-bg.png');
	background-size: cover;
}
.container-fluid.portfolio.assets table.table {
	font-size: 12px;
}
.container-fluid.portfolio.assets table.table tr th {
	border: none;
}
.container-fluid.portfolio.assets table.table tr th[scope="col"] {
	border: none;
	color: #E4F1FE;
	font-weight: 600;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 2px 4px;
}
.container-fluid.portfolio.assets table.table tr th[scope="row"] {
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.25);
	padding: 2px 4px;
	font-weight: 600;
	color: #E4F1FE;
}
.container-fluid.portfolio.assets table.table tr.asset td {
	border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.container-fluid.portfolio.assets table.table tr td {
	border: none;
	padding: 2px 4px;
	color: #fff;
}

/* Call to action */

.container-fluid.blue-cta {
	background-color: #00a7cf;
	background: url('../images/outro-bg.png');
	background-size: cover;
	padding: 60px 0;
}
.container-fluid.blue-cta .container {
	text-align: center;
}
.container-fluid.blue-cta .container h2.section-title {
	color: #fff;
	margin-bottom: 30px;
}
.container-fluid.blue-cta .container p {
	margin-top: 30px;
	color: #fff;
}
.container-fluid.white-cta {
	padding: 60px 0;
}
.container-fluid.white-cta .container {
	text-align: center;
}
.container-fluid.white-cta .container h2.section-title {
	margin-bottom: 30px;
}

/* Pricing page investment calculator */

.container-fluid.investment-calculator {
	padding: 60px 0;
	background: #fff;
}
.investment-calculator .container .result {
	padding: 30px 0 0;
}
.investment-calculator .container .result .data p {
	color: #5a5a5a;
}
.investment-calculator .container .result .data p b {
	color: #17406b;
}
.investment-calculator .container .result .data p.smartly b {
	color: #00a7cf;
}
.investment-calculator .container .result .data p.unit-trust b {
	color: #ffa400;
}
.investment-calculator .container .result .investment-calculator .container .range-choose {
	text-align: center;
	margin: 70px auto 100px;
	width: 100%;
}
.investment-calculator .container .range-choose .range-value {
	text-align: center;
	font-size: 24px;
	color: #00a7cf;
	font-weight: 600;
	;
	margin-bottom: 12px;
}
.investment-calculator .container .range-choose .rangeslider {
	background: #e5e5e5;
}
.investment-calculator .container .range-choose .rangeslider.rangeslider--horizontal {
	height: 12px;
}
.investment-calculator .container .range-choose .rangeslider.rangeslider--horizontal .rangeslider__fill {
	background: #00A7CF;
}
.investment-calculator .container .range-choose .rangeslider.rangeslider--horizontal .rangeslider__handle {
	top: -6px;
	height: 24px;
	width: 24px;
}
.investment-calculator .container .range-choose .rangeslider.rangeslider--horizontal .rangeslider__handle:after {
	height: 12px;
	width: 12px;
}

/* Footer */

footer {
	background-color: #fff;
	background: url('../images/intro-bg.jpg');
	background-size: cover;
	padding: 60px 0 30px;
	border-top: 1px solid #e7e7e7;
}
footer .container h4 {
	font-weight: 300;
	font-size: 18px;
	color: #17406b;
}
footer .container .logo-column img {
	height: 40px;
}
footer .container .logo-column p {
	margin-top: 10px;
	font-size: 11px;
	font-weight: 300;
	line-height: 1.5;
	color: #a5a5a5;
}
footer .container .contact-column .contact-info {
	display: table;
	width: 100%;
	margin-top: 20px;
	font-size: 12px;
	font-weight: 300;
}
footer .container .contact-column .contact-info .info-row {
	display: table-row;
}
footer .container .contact-column .contact-info .info-row .info-label {
	display: table-cell;
	color: #a5a5a5;
	padding-right: 10px;
}
footer .container .contact-column .contact-info .info-row .info-value {
	display: table-cell;
	color: #000;
	padding-bottom: 10px;
}
footer .container .contact-column .contact-info .info-row .info-value a {
	color: #00A7CF;
}
footer .container .company-column .two-column-menu {
	display: table;
	width: 100%;
	margin-top: 20px;
}
footer .container .company-column .two-column-menu .column {
	display: table-cell;
}
footer .container .company-column .two-column-menu .column a {
	display: block;
	margin-bottom: 6px;
	color: #5a5a5a;
	font-weight: 300;
	font-size: 14px;
	transition: .3s;
}
footer .container .company-column .two-column-menu .column a:hover,
footer .container .company-column .two-column-menu .column a:focus {
	color: #00A7CF;
	text-decoration: none;
	transition: .3s;
}
footer .container .socials-column ul.socials {
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	-webkit-padding-start: 0;
	margin-top: 15px;
}
footer .container .socials-column ul.socials li {
	display: inline-block;
	margin-right: 12px;
}
footer .container .socials-column ul.socials li a svg {
	width: 24px;
	height: 32px;
}
footer .container .socials-column ul.socials li a path {
	fill: #a5a5a5;
	transition: .3s;
}
footer .container .socials-column ul.socials li a:hover path,
footer .container .socials-column ul.socials li a:focus path {
	fill: #00A7CF;
	transition: .3s;
}
footer .container .copyright {
	text-align: center;
	margin: 20px 0 5px;
	font-size: 12px;
	font-weight: 300;
	color: #a5a5a5;
}
footer .container .disclaimer {
	border-top: 1px solid #e7e7e7;
	margin-top: 20px;
	padding-top: 20px;
}
footer .container .disclaimer p {
	font-size: 14px;
	line-height: 1.5;
	color: #5a5a5a;
}
footer .container .disclaimer p a {
	color: #00A7CF;
	transition: .3s;
}

/* Mobile */

@media (max-width: 767px) {
	.navbar {
		display: flex;
	}
	.desktop-menu {
		display: none;
	}
}
